
.footer{
    margin-top: 25px;
    border-top: 1px solid #ff5737;
    padding-top: 10px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: white;
    margin-bottom: 20px;
    
}
.footer-left-text p{
    text-align: center;
}
.footer-center{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer-center h3{
    margin-bottom: 20px;
}
.footer-center img{
    width: 38px;
    height: 38px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    
}
.footer-center-icone img{

    opacity: .7;
    transition: 1s;

}
.footer-center-icone img:hover{
    opacity: 1;
    transition: 1s;
}



.footer-right{
    margin-bottom: 20px;

}
.footer-right-liens{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-right-liens a{
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    transition: 1s;
    
}
.footer-right-liens a:hover{
    color: #ff5737;
    transition: 1s;
}

.footer-bottom-copy{
    text-align: center;
    margin-top: 25px;
    

}
.footer-bottom-copy a{
    text-decoration: none;
    color: white;
    transition: 1s;
}
.footer-bottom-copy a:hover{
    color: #ff5737;
    transition: 1s;
}



@media screen and (min-width:688px){

.footer{
    display: flex;
    justify-content: space-around;
}


.footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: white;
    margin-bottom: 20px;
    
}
.footer-left-text p{
    text-align:center ;
    transition: 1s;
}
.footer-center{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}
.footer-center h3{
    margin-bottom: 20px;
    transition: 1s;
}
.footer-center img{
    width: 38px;
    height: 38px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    transition: 1s;
}

.footer-right{
    margin-bottom: 20px;

}
.footer-right-liens{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.footer-right-liens a{
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    transition: 1s;
    
}
   
    


}
@media screen and (max-width:687px){

    
   
}

@media screen and (min-width:992px){
   
   
    .footer-center img{
        width: 38px;
        height: 38px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 0px;
        transition: 1s;
    }
    
    
   

    
}
@media screen and (max-width:991px){
    

}


@media screen and (min-width:992px){

  

   
}
@media screen and (min-width:1312px){
.footer-left-logo svg{
    height: 80px;
    width: 80px;
    transition: 1s;
}
    .footer-left-text p{
        text-align:center ;
        font-size: 130%;
        transition: 1s;
    }
    .footer-center h3{
        margin-bottom: 20px;
        font-size: 140%;
        transition: 1s;
    }
    .footer-center img{
        width: 48px;
        height: 48px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 0px;
        transition: 1s;
    }
    .footer-right-liens a{
        text-decoration: none;
        color: white;
        margin-bottom: 5px;
        font-size: 130%;
        transition: 1s;
        
    }
   

}


