*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*
Début navbar mobile
*/
.navbar{
    background-color: #1f1f1f;
    padding: 0 1rem;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-button svg{
    cursor: pointer;
}

.nav-item{

    margin-bottom: 15px;
    margin-left: 10px;

}


.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    
}
.navbar a:hover{
    color: #ff5737;
    transition: 1s;
}


.nav-menu{
    display: none;
    
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #1f1f1f;
    margin: 0;
    list-style: none;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    
    

    
}


.nav-menu.show{
    display: initial;

    
}

.nav-item-recherche{
    text-align: center;
    padding-top: 15px;

}
.nav-item-recherche input{
    font-size: 110%;
}
.nav-item-recherche button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    
}
.nav-item-recherche button:hover{
    background-color: #ff5737;
    transition: 1s;
    
}

/*
fin navbar mobile
*/


/*
debut de la navbar tablette
*/
.navbar2{
    background-color: #1f1f1f;
    padding: 0 1rem;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-button2 svg{
    cursor: pointer;
}

.nav-item2{

    margin-bottom: 15px;
    margin-left: 10px;

}


.navbar2 a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    
}
.navbar2 a:hover{
    color: #ff5737;
    transition: 1s;
}


.nav-menu2{
    display: none;
    
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #1f1f1f;
    margin: 0;
    list-style: none;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    

    
}


.nav-menu2.show{
    display: initial;
    display: flex;
    justify-content: space-around;

    
}

.nav-item-recherche2{
    text-align: center;
    padding-top: 15px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #1f1f1f;
    margin: 0;
    padding-bottom: 20px;

}
.nav-item-recherche2 input{
    font-size: 110%;
}
.nav-item-recherche2 button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    
}
.nav-item-recherche2 button:hover{
    background-color: #ff5737;
    transition: 1s;
    
}

/*
fin de la navbar tablette
*/


.navbar3{
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.nav-menu3{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav-item3{
    margin-right: 30px;
}
.nav-item3 a {
    text-decoration: none;
    color: white;
    
}
.nav-item3 a:hover{
    color: #ff5737;
    transition: 1s;
}

.nav-item3-right{
    margin-top: 50px;
    margin-bottom: 15px;
}

.nav-item3-right a{
    color: white;
    text-decoration: none;
    
    margin-right: 10px;
    
}

.nav-item3-right a:hover{
    color: #ff5737;
    transition: 1s;
}

.nav-item-recherche3 input{
    font-size: 110%;

}
.nav-item-recherche3 button{
    background-color: transparent;
    border: none;
}







@media screen and (min-width:688px){

    .navbar{
        display: none;
    }
    


}
@media screen and (max-width:687px){

    .navbar2{
        display: none;
    }
   
}

@media screen and (min-width:992px){

    .navbar2{
        display: none;
    }
}
@media screen and (max-width:991px){
    .navbar3{
        display: none;
    }

}


@media screen and (min-width:992px){

    .navbarSvg2{
        display: none;
    }
    .navbarSvg3{
        display: none;
    }

   
}
@media screen and (min-width:1312px){

    .navbarSvg1{
        display: none;
    }

    .navbarSvg2{
        display: initial;
    }
    .navbarSvg3{
        display: none;
    }
    .nav-item3{
        margin-right: 50px;
    }

}


@media screen and (min-width:1500px){

    
    .navbarSvg2{
        display: none;
    }
    .navbarSvg3{
        display: initial;
    }
    .nav-item3{
        margin-right: 70px;
    }

}














