# page index :
    DirectoryIndex index.php 

# page d'erreurs, ne fonctionne pas :
    ErrorDocument 404 404.php

# règles de réecriture d'URL : 

    RewriteEngine On

# Commentaire pour expliquer la règle ... 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]