.btn3{
    
    

    li{
        list-style: none;
        

        a{
            text-decoration: none;
            color: white;
            padding: 5px;
            background-color: #ffba39;
            font-weight: 600;
            font-family: 'Roboto', sans-serif;
            border-radius: 5%;
            font-size: 150%;

            &:hover{
                background-color: #eca41d;
            }
            

        }
    }
}